uci set multiwan.config=multiwan
uci set multiwan.config.enabled=yes
uci set multiwan.config.preempt=yes
uci set multiwan.MOBILE1=interface
uci set multiwan.MOBILE1.health_interval=10
uci set multiwan.MOBILE1.icmp_hosts=8.8.8.8
uci set multiwan.MOBILE1.timeout=3
uci set multiwan.MOBILE1.icmp_interval=1
uci set multiwan.MOBILE1.health_fail_retries=3
uci set multiwan.MOBILE1.health_recovery_retries=5
uci set multiwan.MOBILE1.priority=20
uci set multiwan.MOBILE1.exclusive_group=3g
uci set multiwan.MOBILE1.manage_state=yes
uci set multiwan.MOBILE1.ifup_retry_sec=140
uci set multiwan.MOBILE1.ifup_timeout_sec=120
uci set multiwan.MOBILE1.signal_threshold=-115
uci set multiwan.MOBILE1.rscp_threshold=-115
uci set multiwan.MOBILE1.ecio_threshold=-115
uci set multiwan.MOBILE2=interface
uci set multiwan.MOBILE2.health_interval=10
uci set multiwan.MOBILE2.icmp_hosts=8.8.8.8
uci set multiwan.MOBILE2.timeout=3
uci set multiwan.MOBILE2.icmp_interval=1
uci set multiwan.MOBILE2.health_fail_retries=3
uci set multiwan.MOBILE2.health_recovery_retries=5
uci set multiwan.MOBILE2.priority=5
uci set multiwan.MOBILE2.exclusive_group=3g
uci set multiwan.MOBILE2.manage_state=yes
uci set multiwan.MOBILE2.ifup_retry_sec=140
uci set multiwan.MOBILE2.ifup_timeout_sec=120
uci set multiwan.MOBILE2.signal_threshold=-115
uci set multiwan.MOBILE2.rscp_threshold=-115
uci set multiwan.MOBILE2.ecio_threshold=-115
uci commit multiwan
/etc/init.d/multiwan restart