uci set tservd.main= tservd
uci set tservd.main.enable='1'
uci set tservd.main.debug_ev_enable='0'
uci set tservd.main.log_severity='6'
uci set tservd.main.debug_rx_tx_enable='0'
uci set tservd.main.max_dump_data_size='128'

uci set tservd.port1='port'
uci set tservd.port1.enable='1'
uci set tservd.port1.devName='/dev/serial1'
uci set tservd.port1.ip_port1='951'
uci set tservd.port1.ip_port2='951'
uci set tservd.port1.remote_ip1='0.0.0.0'
uci set tservd.port1.remote_ip2='0.0.0.0'
uci set tservd.port1.local_ip='0.0.0.0'
uci set tservd.port1.server_mode='1'
uci set tservd.port1.listen_port='1232'
uci set tservd.port1.tcp_always_on='1'
uci set tservd.port1.tcp_tls_on='0'
uci set tservd.port1.tcp_tls_validate_peer_cert='0'
uci set tservd.port1.tcp_tls_verify_depth='1'
uci set tservd.port1.tcp_tls_force_tls1_2='1'
uci set tservd.port1.tcp_tls_cipherlist='ALL:!ADH:!LOW:!EXP:!MD5:@STRENGTH'
uci set tservd.port1.close_tcp_on_dsr='0'
uci set tservd.port1.tty_always_open='0'
uci set tservd.port1.fwd_timeout='30'
uci set tservd.port1.fwd_timer_mode='idle'
uci set tservd.port1.fwd_buffer_size='256'
uci set tservd.port1.sfwd_buffer_size='0'
uci set tservd.port1.sfwd_timeout='0'
uci set tservd.port1.sfwd_timer_mode='idle'
uci set tservd.port1.speed='9600'
uci set tservd.port1.wsize='8'
uci set tservd.port1.parity='0'
uci set tservd.port1.stops='1'
uci set tservd.port1.fc_mode='0'
uci set tservd.port1.drv_poll_intvl='0'
uci set tservd.port1.disc_time_ms='5000'
uci set tservd.port1.proxy_mode='0'
uci set tservd.port1.udpMode='0'
uci set tservd.port1.udpLocalPort='0'
uci set tservd.port1.udpRemotePort='0'
uci set tservd.port1.udpKaIntervalMs='0'
uci set tservd.port1.udpKaCount='3'
uci set tservd.port1.tcp_keepalive_enabled='1'
uci set tservd.port1.tcp_keepalive_interval='5'
uci set tservd.port1.tcp_keepalive_timeout='2'
uci set tservd.port1.tcp_keepalive_count='1'
uci set tservd.port1.tcp_user_timeout='20000'
uci set tservd.port1.tcp_nodelay='0'
uci set tservd.port1.portmode='rs232'
uci set tservd.port1.serial_mode_gpio_control='1'
uci set tservd.port1.dtr_control_mode='auto'
uci set tservd.port1.rts_control_mode='auto'
uci set tservd.port1.rs485_line_termination='0'
uci set tservd.port1.is_usb_serial='0'
uci set tservd.port1.sync_mode='hdlc'
uci set tservd.port1.sync_crc32='0'
uci set tservd.port1.sync_speed='64000'
uci set tservd.port1.sync_invert_rxclk='0'
uci set tservd.port1.sync_invert_txclk='0'
uci set tservd.port1.sync_rx_msbf='0'
uci set tservd.port1.sync_tx_msbf='0'
uci set tservd.port1.sync_rxdata_dly='0'
uci set tservd.port1.sync_txdata_dly='0'
uci set tservd.port1.sync_tx_idle='126'
uci set tservd.port1.rtsinvert='0'
uci set tservd.port1.disable_echo='0'
uci set tservd.port1.com_port_control='0'
uci set tservd.port1.hd_mode='0'
uci set tservd.port1.rts_timeout='30'
uci set tservd.port1.post_rts_timeout='20'
uci set tservd.port1.v23_tx_gain='2'
uci set tservd.port1.v23_rx_loss='1'
uci set tservd.port1.v23_rts_to_cts_delay='20'
uci set tservd.port1.v23_is_four_wire='0'
uci set tservd.port1.v23_tx_timeout='20'
uci set tservd.port1.v23_tx_rampdown='30'
uci set tservd.port1.v23_tx_maxfill='127'
uci set tservd.port1.v23_inband_carrier_signalling='0'
uci set tservd.port1.v23_inband_carrier_on_char='255'
uci set tservd.port1.hdlc_pw_enabled='0'
uci set tservd.port1.serialTxLogSize='0'
uci set tservd.port1.serialRxLogSize='0'
uci set tservd.port1.serial_inactivity_secs='0'
uci set tservd.port1.netl_inactivity_secs='0'
uci set tservd.port1.bit_reverse='0'
uci set tservd.port1.dte_tt_inv='0'
uci set tservd.port1.dce_tclk_inv='0'
uci set tservd.port1.dce_rclk_inv='0'
uci set tservd.port1.x21_clk_invert='0'
uci set tservd.port1.x21_data_delay='0'

uci set tservd.port2='port'
uci set tservd.port2.enable='1'
uci set tservd.port2.devName='/dev/serial2'
uci set tservd.port2.ip_port1='951'
uci set tservd.port2.ip_port2='951'
uci set tservd.port2.remote_ip1='0.0.0.0'
uci set tservd.port2.remote_ip2='0.0.0.0'
uci set tservd.port2.local_ip='0.0.0.0'
uci set tservd.port2.server_mode='1'
uci set tservd.port2.listen_port='2232'
uci set tservd.port2.tcp_always_on='1'
uci set tservd.port2.close_tcp_on_dsr='0'
uci set tservd.port2.tty_always_open='0'
uci set tservd.port2.fwd_timeout='30'
uci set tservd.port2.fwd_buffer_size='256'
uci set tservd.port2.sfwd_buffer_size='0'
uci set tservd.port2.sfwd_timeout='0'
uci set tservd.port2.sfwd_timer_mode='idle'
uci set tservd.port2.speed='9600'
uci set tservd.port2.wsize='8'
uci set tservd.port2.parity='0'
uci set tservd.port2.stops='1'
uci set tservd.port2.fc_mode='0'
uci set tservd.port2.drv_poll_intvl='0'
uci set tservd.port2.disc_time_ms='5000'
uci set tservd.port2.udpMode='0'
uci set tservd.port2.udpLocalPort='0'
uci set tservd.port2.udpRemotePort='0'
uci set tservd.port2.udpKaIntervalMs='0'
uci set tservd.port2.tcp_keepalive_enabled='1'
uci set tservd.port2.tcp_keepalive_interval='5'
uci set tservd.port2.tcp_keepalive_timeout='2'
uci set tservd.port2.tcp_keepalive_count='1'
uci set tservd.port2.tcp_user_timeout='20000'
uci set tservd.port2.tcp_nodelay='0'
uci set tservd.port2.portmode='rs232'
uci set tservd.port2.serial_mode_gpio_control='1'
uci set tservd.port2.dtr_control_mode='auto'
uci set tservd.port2.rts_control_mode='auto'
uci set tservd.port2.is_usb_serial='0'
uci set tservd.port2.sync_speed='64000'
uci set tservd.port2.sync_invert_rxclk='0'
uci set tservd.port2.sync_invert_txclk='0'
uci set tservd.port2.sync_rx_msbf='0'
uci set tservd.port2.sync_tx_msbf='0'
uci set tservd.port2.sync_rxdata_dly='0'
uci set tservd.port2.sync_txdata_dly='0'
uci set tservd.port2.sync_tx_idle='126'
uci set tservd.port2.rtsinvert='0'
uci set tservd.port2.disable_echo='0'
uci set tservd.port2.com_port_control='0'
uci set tservd.port2.hd_mode='0'
uci set tservd.port2.rts_timeout='30'
uci set tservd.port2.post_rts_timeout='20'
uci set tservd.port2.v23_tx_gain='2'
uci set tservd.port2.v23_rx_loss='1'
uci set tservd.port2.v23_rts_to_cts_delay='20'
uci set tservd.port2.v23_is_four_wire='0'
uci set tservd.port2.v23_tx_timeout='20'
uci set tservd.port2.v23_tx_rampdown='30'
uci set tservd.port2.v23_tx_maxfill='127'
uci set tservd.port2.v23_inband_carrier_signalling='0'
uci set tservd.port2.v23_inband_carrier_on_char='255'
uci set tservd.port2.hdlc_pw_enabled='0'
uci set tservd.port2.serialTxLogSize='0'
uci set tservd.port2.serialRxLogSize='0'
uci set tservd.port2.serial_inactivity_secs='0'
uci set tservd.port2.netl_inactivity_secs='0'
uci set tservd.port2.bit_reverse='0'
uci set tservd.port2.dte_tt_inv='0'
uci set tservd.port2.dce_tclk_inv='0'
uci set tservd.port2.dce_rclk_inv='0'
uci set tservd.port2.x21_clk_invert='0'
uci set tservd.port2.x21_data_delay='0