uci delete network.lan

uci set network.lan=interface
uci set network.lan.ifname="portA portB.100"
uci set network.lan.proto=static
uci set network.lan.ipaddr=192.168.100.1
uci set network.lan.netmask=255.255.255.0
uci set network.lan.type=bridge
uci set network.lan.stp=1

uci commit network
ifup lan